body {
    margin: 0;
    background: #FAF8FA;
    font-family: Helvetica;
}

.owners-wrapper {
    width: 400px;
    padding: 20px 40px;
    margin: 40px auto;
    background: white;
}

#edit-owners {
    display: none;
}

.edit-owners-label {
    display: flex;
    align-items: center;
}

.edit-owners-label span {
    margin-right: 10px;
}

#edit-owners:checked ~ .owners {
    display: block;
}

#edit-owners:checked + label span {
    transform: rotate(90deg);
}

.owners {
    display: none;
    width: 300px;
    padding: 20px 80px 20px 20px;
    background: #FAF8FA;
}

.wally, .wilma {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #051336;
}
